body {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: hidden;
    align-items: center;
}
header#navbar {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header#navbar button,
header#navbar label.mdl-switch {
    margin-bottom: 10px !important;
}
#canvas, #replay {
    height: 100%;
}
#replayContainer {
    display: none;
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 85%);
}
#replayContainer button {
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    filter: invert(1);
}
label.mdl-switch {
    width: fit-content;
    margin: 0 1em;
}
#tutorial-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 80;
}
#infos {
    position: absolute;
    z-index: 99;
    bottom: 10px;
    right: 10px;

    width: 40em;
    background-color: #FFF;
    border: solid #CCC 0.1px;
    border-radius: 4px;
    padding: 0.5em 1em;
}
#infos header {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
}
#infos button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
#infos button img {
    width: 20px;
}
.hide {
    display: none;
}
